div#first_line_circle{
	width: 410px;
	height: 410px;
	margin: auto;
}

div#downloadB > .ldBar-label{
	display: none;
}

.DB_text{
	display: flex;
	width: 100%;
	height: 60%;
}

.col > .row > .DB_text > .downloading{
	display: flex;
	width: 60%;
	align-items: center;
	float: left;

}
#DB_progress{
	float: right;
	display: flex;
	width: 30%;
	align-items: center;

}
.col > .row > .DB_text > .downloading > img{

	width: 32px;
	height: 32px;
}