.main{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	min-height: 500px;
	align-items: center;
	justify-content: center;
}
/* first line  */
#first_line{
	height: 700px;
	width: 100%;
	background-color: orange;
	display: flex;

	align-items: center;
	justify-content: center;
}
#first_line > .col{
	width: 33%;
	height: 100%;
	background-color: green;
}
#first_line > .col:nth-child(1){
 margin-right: 35px;
}
#first_line > .col:nth-child(3){
	margin-left: 35px;
}
#first_line > .col:nth-child(1) > .row:nth-child(1){
	height: 66%;
	width: 100%;
	background-color: white;
}
#first_line > .col:nth-child(1) > .row:nth-child(2){
	margin-top:35px;
	height: 30%;
	width: 100%;
	background-color: white;
}
#first_line > .col:nth-child(3) > .row{
	width:100%;
	background-color: white;
}
#first_line > .col:nth-child(3) > .row:nth-child(1){
	height: 15%;
	margin-bottom: 35px;
}
#first_line > .col:nth-child(3) > .row:nth-child(2){
	margin-bottom: 35px;
		height: 30%;
}
#first_line > .col:nth-child(3) > .row:nth-child(3){

		height: 50%;
}
/*				*/





/* second line */
#second_line{
	height: 1000px;
	width: 100%;
	background-color: cyan;
	display: flex;
}
#second_line > .col{
	height: 100%;
	background-color: red;
}

#second_line > .col:nth-child(1){
	width:33%;

}
#second_line > .col:nth-child(2){
	width:66%;
	margin-left: 35px;
}
#second_line > .col:nth-child(1) > .row{
	width:100%;
	height: 30%;
	background-color: white;
}
#second_line > .col:nth-child(1) > .row:nth-child(1){
	margin-bottom: 35px;
	margin-top: 35px
}
#second_line > .col:nth-child(1) > .row:nth-child(2){
	margin-bottom: 35px;
}
#second_line > .col:nth-child(2) > .row:nth-child(1){
	height: 25%;
	width: 100%;
	margin-top: 35px;
	background-color: white;
}
#second_line > .col:nth-child(2) > .row:nth-child(2){
	height: 70%;
	width: 100%;
	margin-top: 35px;
	background-color: orange;
	display: flex;
}
#second_line > .col:nth-child(2) > .row:nth-child(2) > .col{
	width: 49%;
	height: 100%;
	background-color: purple;
}
#second_line > .col:nth-child(2) > .row:nth-child(2) > .col:nth-child(1){
	margin-right: 35px;
}
#second_line > .col:nth-child(2) > .row:nth-child(2) > .col:nth-child(1) > .row{
	background-color: white;
}


	#second_line > .col:nth-child(2) > .row:nth-child(2) > .col:nth-child(1) > .row:nth-child(1){
		height: 33%;
		margin-bottom: 35px;
	}
	#second_line > .col:nth-child(2) > .row:nth-child(2) > .col:nth-child(1) > .row:nth-child(2){
		height: 13%;
		margin-bottom: 35px;
	}
	#second_line > .col:nth-child(2) > .row:nth-child(2) > .col:nth-child(1) > .row:nth-child(3){
		height: 33%;
		margin-bottom: 35px;
	}
	#second_line > .col:nth-child(2) > .row:nth-child(2) > .col:nth-child(1) > .row:nth-child(4){
		height: 13%;
	}

#second_line > .col:nth-child(2) > .row:nth-child(2) > .col:nth-child(2) > .row{
	background-color: white;
}

#second_line > .col:nth-child(2) > .row:nth-child(2) > .col:nth-child(2) > .row:nth-child(1){
	height: 38%;
	margin-bottom: 35px;
}
#second_line > .col:nth-child(2) > .row:nth-child(2) > .col:nth-child(2) > .row:nth-child(2){
	height: 50%;
	margin-bottom: 35px;
}
#second_line > .col:nth-child(2) > .row:nth-child(2) > .col:nth-child(2) > .row:nth-child(3){
	height: 12%;
}
/* 			   */