body{
	padding: 	0px;
	margin: 	0px;
	font-family: Gill Sans Extrabold, sans-serif;
}
.santa{
	width: 	100%;
	min-height: 600px;
	background-color: 	blue;
}
.santa > .icon{
	width: 400px;
	height: 600px;
	background-color: purple;
	margin: auto;
}
.santa > .icon > img{
	margin-top:70px;
}
.content{
	width: 	1600px;
	min-height: 	2500px;
	background-color: 	black;
	padding-left: 75px;
	padding-right: 75px;
	margin: auto;
	padding-bottom: 100px;
}
.content > .header{

	border-top: 5px solid purple;
	display: flex;
	width: 	100%
	height: 115px;
	background-color: 	red;
	margin-bottom: 35px;
}
/* links */
.content > .header > .link{
	display: flex;
	align-items: center;
	justify-content: center;
	float: left;
	width: 17%;
	height: 115px;
}
.content > .header > .link > .tag{
	display: flex;

	align-items: center;
	justify-content: center;
}

.content > .header > .link > .tag > span{
	font-size: 25pt;
}
.content > .header > .link > .tag > img{
	width: 64px;
	height: 64px;
}
.content > .header > .user{
	margin-left: 100px;
	float: right;
	width: 15%;
	height: 115px;

}
/*       */